@model PolishGamesRanking.ViewModels.DetailViewModel

@{
    ViewBag.Title = Model.Game.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Game.Name</h2> 
<h4>Rate: @{
    var ratingString = Model.Game.Rating.ToString("0.00");
          }@ratingString</h4>
@using (Html.BeginForm("Rate", "Games", new {id = Model.Game.Id}))
{
    <div class="form-group">
        @Html.DropDownListFor(m => m.Game.RatingId, (IEnumerable<SelectListItem>) ViewBag.Styles, "--oceń--", new { @class = "form-control" })
    </div>
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Oceń</button>
}
        <ul>
            <li>Game genre:  @Model.Game.GameGenre.Name</li>
            <li>Released:  @Model.Game.ReleaseDate.ToShortDateString()</li>
            <li>Developer:  @Model.Game.Developer</li>
            <li>Publisher:  @Model.Game.Publisher</li>
        </ul>
        @if (@Model.Game.Files.Any())
        {
            <dd>
                @{
                    var base64 = Convert.ToBase64String(Model.Game.Files.First().Content);
                    var imgSrc = $"data:image/gif;base64,{base64}";
                }

                <img src="@imgSrc" width="200" class="img-responsive"/>
            </dd>
        }
        @Html.ActionLink("Edytuj", "Edit", "Games", new { id = Model.Game.Id }, new { @class = "btn btn-primary" })
