@using PolishGamesRanking.Models
@model PolishGamesRanking.ViewModels.DetailViewModel

@{
    ViewBag.Title = Model.Game.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Game.Name</h2>
<hr />
<p class="text-muted">Data dodania: @Model.Game.DateAdded.Date.ToShortDateString()</p>
<h4 class="text-success">
    Ocena: @{
        var ratingString = Model.Game.Rating.ToString("0.00");
    }@ratingString
</h4>

<p class="text-muted">Ilość głosów: @Model.Game.RatingsCount</p>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            @if (@Model.Game.Files.Any())
            {
                <dd>
                    @{
                        var base64 = Convert.ToBase64String(Model.Game.Files.First().Content);
                        var imgSrc = $"data:image/gif;base64,{base64}";
                    }

                    <img src="@imgSrc" width="200" class="img-responsive" />
                </dd>
            }
            <br/>
            @Html.ActionLink("Edytuj", "Edit", "Games", new { id = Model.Game.Id }, new { @class = "btn btn-primary" })
        </div>
        <div class="col-sm-6">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#info" data-toggle="tab">Informacje ogólne</a></li>
                
                @if (Model.Game.Description.IsEmpty())
                {
                    <li class="disabled"><a>Opis</a></li>
                }
                else
                {
                    <li><a href="#opis" data-toggle="tab">Opis</a></li>
                }
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="info" >
                    <li class="list-group-item">Gatunek: @Model.Game.GameGenre.Name</li>
                    <li class="list-group-item">Data wydania: @Model.Game.ReleaseDate.ToShortDateString()</li>
                    <li class="list-group-item">Deweloper: @Model.Game.Developer</li>
                    <li class="list-group-item">Wydawca: @Model.Game.Publisher</li>
                    <li class="list-group-item">Silnik gry: @Model.Game.Engine</li>
                    <br/>
                </div>
                <div class="tab-pane fade" id="opis">
                    <div class="panel panel-default">
                        <div class="panel-body" style="min-height: 210px">
                           <p align="justify">@Model.Game.Description<p>
                        </div>
                    </div>
                </div>
            </div>

            @using (Html.BeginForm("Rate", "Games", new {id = Model.Game.Id}))
            {
                <div class="form-group">
                    @Html.DropDownListFor(m => m.Game.RatingId, (IEnumerable<SelectListItem>) ViewBag.Styles, "--oceń--", new {@class = "form-control"})
                </div>
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-danger">Oceń</button>
            }
        </div>
    </div>

</div>
