@using System.Activities.Expressions
@using PolishGamesRanking.Models
@model PolishGamesRanking.ViewModels.NewGameViewModel

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script> $(document).ready(function() { $("#datepicker").datepicker(); }); </script>

<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Zasady dodawania tytułów</h3>
    </div>
    <div class="panel-body">
        <p class="text-danger">Przy dodawaniu tytułu obowiązują następujące zasady:</p>
        <ol>
            <li class="text-warning">Nazwy tytułów piszemy po Polsku (jeżeli istnieje oficjalne tłumaczenie) i z wielkiej litery.</li>
            <li class="text-warning">Nie zawsze da się zakwalifikować grę do danego gatunku, jeżeli jest z tym problem wybieramy gatunek, którego cechy są najbardziej obecne w danym tytule.</li>
            <li class="text-warning">Jeżeli znany jest tylko rok premiery, wybieramy 1 stycznia tego roku, jeżeli ma już określony miesiąc ale jeszcze niesprecyzowany dzień, wybieramy pierwszy dzień tego miesiąca.</li>
            <li class="text-warning">Jako obrazek dodajemy oficjalną okładkę gry (najlepiej z chwili premiery tytułu)</li>
            <li class="text-warning">Obrazek powinien być pionowy (wymiary np. 200x285)</li>
        </ol>
    </div>
</div>

<h2>@Model.Title</h2>
@using (Html.BeginForm("Save", "Games", new {@class = "form-horizontal"}, FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="Name">Nazwa</label>
                    @Html.TextBoxFor(m => m.Name, new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
                <div class="form-group">
                    <label for="GameGenre">Gatunek</label>
                    @Html.DropDownListFor(m => m.GameGenreId, new SelectList(Model.GameGenres, "Id", "Name"), "Wybierz gatunek", new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.GameGenreId)
                </div>
                <div class="form-group">
                    <label for="Developer">Deweloper</label>
                    @Html.TextBoxFor(m => m.Developer, new {@class = "form-control"})
                </div>
                <div class="form-group">
                    <label for="Publisher">Wydawca</label>
                    @Html.TextBoxFor(m => m.Publisher, new {@class = "form-control"})
                </div>
                <div class="form-group">
                    <label for="Engine">Silnik gry</label>
                    @Html.TextBoxFor(m => m.Engine, new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.Engine)
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="ReleaseDate">Data wydania</label>
                           @Html.TextBoxFor(m => m.ReleaseDate, "{0:yyyy-MM-dd}", new {@type = "date", @class = "form-control" })
                           @Html.ValidationMessageFor(m => m.ReleaseDate)
                </div>
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.DLC) Czy jest to dodatek do pełnej gry?
                    </label>
                </div>
                <div class="form-group">
                    <label for="Description">Opis</label>
                    @Html.TextAreaFor(m => m.Description, new {@class = "form-control", rows = "8"})
                    @Html.ValidationMessageFor(m => m.Description)
                </div>
                <div class="form-group">
                    <label for="Files">Okładka</label>
                    <br/>
                    <input type="file" id="image" name="image" multiple="">
                </div>
                @Html.HiddenFor(m => m.Id)
                @Html.AntiForgeryToken()
                <br/>
                <button type="submit" class="btn btn-primary" id='addGame'>Dodaj</button>
            </div>
        </div>
    </div>
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $("#addGame").submit(function () {
                $.click(function () {
                    toastr.success("Rentals successfully recorded.");
                });
            });
        });
    </script>
}
