@model IEnumerable<PolishGamesRanking.Models.Game>
@{
    ViewBag.Title = "Games";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gry</h2>
<table id="games" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Ocena</th>
        <th>Tytuł</th>
        <th>Gatunek</th>
        <th>Data premiery</th>
        <th>Deweloper</th>
        <th>Wydawca</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var game in Model)
    {
        <tr>
            <td align="center">
                @if (@game.Files.Any())
                {
                    <dd>
                        @{
                            var base64 = Convert.ToBase64String(game.Files.First().Content);
                            var imgSrc = $"data:image/gif;base64,{base64}";
                        }

                        <img src="@imgSrc" width="70" class="img-responsive" />
                    </dd><br/>
                }@game.Rating
            </td>
            <td>@Html.ActionLink(game.Name, "Details", "Games", new {id = game.Id}, null)</td>
            <td>@game.GameGenre.Name</td>
            <td>@game.ReleaseDate.ToShortDateString()</td>
            <td>@game.Developer</td>
            <td>@game.Publisher</td>
        </tr>
    }
    </tbody>
</table>
@Html.ActionLink("Dodaj grę", "New", "Games", null, new {@class="btn btn-primary"})

@section scripts
{
    <script>
        $(document).ready(function() {
            var table = $("#games").DataTable({
                //ajax: {
                //    url: "api/games",
                //    dataSrc: ""
                //},
                //columns: [
                //    {
                //        data: "rating"
                //    },
                //    {
                //        data: "name",
                //        render: function(data, type, game) {
                //            return "<a href='/games/details/" + game.id + "'>" + game.name + "</a>";
                //        }
                //    },
                //    {
                //        data: "name"
                //    },
                //    {
                //        data: "releasedate"
                //    },
                //    {
                //        data: "developer"
                //    },
                //    {
                //        data: "publisher"
                //    },
                //    {
                //        data: "id",
                //        render: function(data) {
                //            return "<button class='btn-link js-delete' data-game-id=" + data + ">Usuń</button>";
                //        }
                //    }
                //],
                "order": [[ 0, "desc" ]],
                "language": {
                    "decimal": "",
                    "emptyTable": "Brak danych w tabeli",
                    "info": "Gry od _START_ do _END_,  wszystkich gier: _TOTAL_",
                    "infoEmpty": "Gry 0 do 0 z 0 wpisów",
                    "infoFiltered": "(filtered from _MAX_ total entries)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Pokaż _MENU_ gier",
                    "loadingRecords": "Wczytywanie...",
                    "processing": "Processing...",
                    "search": "Szukaj:",
                    "zeroRecords": "Brak pasujących wpisów",
                    "paginate": {
                        "first": "Pierwsza",
                        "last": "Ostatnia",
                        "next": "Następna",
                        "previous": "Poprzednia"
                    },
                }
            });
        })
    </script>
}
